.header {
    text-align: center;
    margin: auto;
}

#map {
    height: 900px;
    width: 1600px;
    margin: 20px auto;
}

.picture {
    width: 800px;
    height: 400px;
    margin: 20px auto;
}
