#map {
    width: 1280px;
    height: 720px;
}
.ymaps-2-1-76-controls__control_toolbar{
    visibility: hidden;
}
.ymaps-2-1-76-map-copyrights-promo{
    visibility: hidden;
}
.ymaps-2-1-76-copyright ymaps-2-1-76-copyright_logo_no{
    visibility: hidden;
}